name: Deploy to Dev

on:
  push:
    branches: [ develop ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Develop

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Salesforce CLI
        run: npm install -g sfdx-cli
        
      - name: Install SF CLI
        run: npm install @salesforce/cli --global; sf plugins install @salesforce/code-analyzer
        
      - name: Scanner
        run: sf scanner run --target force-app/main/default/classes --category 'Security,Performance' --engine pmd --outfile pmd-results.xml --severity-threshold 2

      - name: Authenticate to Salesforce
        run: |
          echo "${{ secrets.SFDX_AUTH_URL }}" > ./sfdx_auth.txt
          sfdx force:auth:sfdxurl:store -f ./sfdx_auth.txt -a Integration -s

      - name: Deploy metadata
        run: |
          sfdx force:source:deploy -u Integration -p force-app --testlevel RunLocalTests
